<div class="module container">
	<div ng-if="module.parent" class="row">
		<a ui-sref="breakdown({id:module.parent})">
			<h4>
				<span class="glyphicon glyphicon-arrow-left"></span>
				Parent
			</h4>
		</a>
	</div>
	<div class="row">
		<div class="col-md-12">
			<input
					type="text"
					class="form-control input-lg"
					placeholder="module name"
					ng-model="module.name"
					ng-blur="save()">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3>Parameters
				<select ng-model="module.parametersType" class="pull-right">
					<option value="arguments">Arguments</option>
					<option value="options">Options</option>
				</select>
			</h3>
			<tags-input
					ng-model="module.parameters"
					min-length="0"
					on-tag-added="save()"
					on-tag-removed="save()"
					on-tag-clicked="new($tag)">
				<!--<auto-complete source="loadTags($query)"></auto-complete>-->
			</tags-input>
		</div>
		<div class="col-sm-6">
			<h3>Exports</h3>
			<tags-input
					ng-model="module.exports"
					min-length="0"
					on-tag-added="save()"
					on-tag-removed="save()">
				<!--<auto-complete source="loadTags($query)"></auto-complete>-->
			</tags-input>
		</div>
		</div>
	<div class="row">
		<div
				ng-model="module.body"
				ui-ace="{
					useWrapMode : true,
					firstLineNumber: 0,
					onLoad: onLoad,
					onBlur: save}"></div>
	</div>
	<div class="row">
		<div
				ng-model="output"
				readonly
				ui-ace="{
					useWrapMode : true,
					firstLineNumber: 0,
					onLoad: onLoad,
					onBlur: save}"></div>
	</div>
</div>
